.navbar li {
    list-style-type: none;
    display: inline;
    margin: 0.5em;
    font-size: 1.5em;

}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: grey;
}

.navbar nav {
    background-color: black;
}

.navbar ul {
    margin-left: 0;
    padding: 0;
}

@media only screen and (max-width: 575px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 0;
    }

    .navbar a {
        display: block;
    }
}